.todo-description {
  width: 500px;
}

.button-area {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.done {
  text-decoration: line-through;
}
