.top-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.top-title {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.todo-list li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.todo-list li:first-child {
  display: flex;
  justify-content: flex-end;
  width: 700px;
  border-bottom: 1px solid rgb(229, 231, 235);
}

.todo-list li:not(:first-child) {
  display: flex;
  justify-content: center;
  width: 700px;
}

.control-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.75rem;
  width: 700px;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.75rem;
}

.search-input {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.4);
  outline: none;
}
